@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "/stylesheets/login.css";
@import "/stylesheets/navbar.css";
@import "/stylesheets/tuttiFrutti.css";
@import "/stylesheets/games.css";
@import "/stylesheets/mathMars.css";
@import "/stylesheets/nameCustom.css";
@import "/stylesheets/home.css";
@import "/stylesheets/stats.css";
@import "/stylesheets/landing.css";
.App {
  text-align: center;
}
.prueba {
  border: 10px solid pink;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a {
  color: #4c175a !important;
}
@media (prefers-reduced-motion: no-preference) {
  .imgBack {
    animation: wobble 5s infinite;
  }
  .ask {
    font-size: 6rem;
    margin-left: 1rem;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .fade-out {
    animation: fadeOut ease 5s;
    -webkit-animation: fadeOut ease 5s;
    -moz-animation: fadeOut ease 5s;
    -o-animation: fadeOut ease 5s;
    -ms-animation: fadeOut ease 5s;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @-moz-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @-o-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @-ms-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /* profilePicture */

  .linkToGame p {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    padding-top: 3rem;
    color: #ff00b7;
    font-weight: bold;
  }

  .popUpLink {
    background-color: #aee6fc;
    height: 20rem;
    width: 30rem;
    background-image: url("/images/earth.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    border-radius: 13px 13px;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
  }
  .linkToGame h1 {
    font-size: 2rem;
    color: #ff00b7;
    padding: 1rem;
    border: 2px solid;
    width: 5rem;
    border-radius: 13px 13px;
    margin: 3rem auto;
  }

  .linkToGame a {
    text-decoration: none;
  }
}
@media screen and (min-width: 1024px) {
}
