.landingContainer {
  background-image: url("/images/backGame.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 36.5rem;
  position: relative;
  overflow: hidden;
}
.landingContainer h1 {
  font-family: "Barrio", cursive;
  color: white;
  font-size: 5rem;
  padding-top: 3rem;
  margin: 0rem;
  margin-left: 2rem;
  width: 80%;
  text-align: start;
}
.landingContainer h3 {
  font-family: "Open Sans", cursive;
  color: white;
  width: 26%;
  font-size: 2rem;
  margin: 0rem;
  margin-left: 2rem;
}
.displayBoxes {
  display: flex;
  margin: 2rem auto;
  height: 30rem;
}
.landingBox {
  width: 30%;
  background-color: white;
  margin: 2rem;
  align-items: flex-end;
  height: 20rem;
  align-self: flex-end;
  border: 7px inset #ff00b7;
  border-radius: 19px 19px 0px 27px;
}
.landingBox h4 {
  font-family: "Barrio", cursive;
  font-size: 2rem;
  color: #4c175a;
}
.landingBox p {
  font-family: "Open Sans", cursive;
  font-size: 1rem;
  color: #4c175a;
  font-weight: bold;
}
.movingOvni {
  z-index: 1;
  width: 7rem;
  position: absolute;
  top: 100px;
  left: 100px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  animation: movingplane 10s linear infinite;
  -webkit-animation: movingplane 10s linear infinite;
  -moz-animation: movingplane 10s linear infinite;
  -o-animation: movingplane 10s linear infinite;
}
@keyframes movingplane {
  0% {
    margin-left: 100%;
    top: 300px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top: 300px;
  }
  100% {
    margin-left: -100%;
    top: 300px;
  }
}
@-webkit-keyframes movingplane {
  0% {
    margin-left: 100%;
    top: 300px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top: 300px;
  }
  100% {
    margin-left: -100%;
    top: 300px;
  }
}
@-moz-keyframes movingplane {
  0% {
    margin-left: 100%;
    top: 300px;
  }
  29% {
    margin-left: 50%;
    top: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  31% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  60% {
    margin-left: 0%;
    top: 300px;
  }
  100% {
    margin-left: -100%;
    top: 300px;
  }
}
.movingStar {
  width: 3rem;
  margin-top: 5rem;
  right: 3rem;
  top: -3rem;
  position: absolute;
  -webkit-animation: blink-1 3s infinite;
  animation: blink-1 3s infinite;
}

.movingRocket {
  width: 3rem;
  top: 51%;
  position: absolute;
  animation: movingRocket 15s linear infinite;
  -webkit-animation: movingRocket 15s linear infinite;
  -moz-animation: movingRocket 15s linear infinite;
  -o-animation: movingRocket 15s linear infinite;
}
@keyframes movingRocket {
  0% {
    margin-left: -150%;
  }
  100% {
    margin-left: 100%;
  }
}
@-webkit-keyframes movingRocket {
  0% {
    margin-left: -150%;
  }
  100% {
    margin-left: 100%;
  }
}
@-moz-keyframes movingRocket {
  0% {
    margin-left: -150%;
  }
  100% {
    margin-left: 100%;
  }
}
.movingShooting {
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  -webkit-animation: blink-1 5s infinite;
  animation: blink-1 5s infinite;
}
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
