.displayGame {
  height: 93vh;
  background-image: url("/images/backGame.jpg");
  background-size: cover;
  background-position: bottom;
}
.score {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.dashBoard {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 4rem;
}
.wrongImg {
  width: 20vh;
  height: 20vh;
  border-radius: 19px 19px 0px 27px;
  /* transition: .5s ease; */
}
.containerCard {
  border: 7px inset #ff00b7;
  width: 20vh;
  height: 20vh;
  margin: 1rem;
  display: block;
  border-radius: 19px 19px 0px 27px;
  background-color: #ff00b7;
}
.replaceCards {
  width: 20vh;
  color: yellow;
  height: 20vh;
  margin: 1rem;
  display: block;
  border: 7px inset #ff00b7;
  border-radius: 19px 19px 0px 27px;
}
.wrongImg:hover {
  /* box-shadow: 0 0 0 10px #000000; */
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.gameInfo {
  max-height: max-content;
  position: relative;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 3rem;
}
.gameInfo h1 {
  font-family: "Barrio", cursive;
  font-size: 4rem;
  font-weight: bold;
}
.gameInfo p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;

  max-width: 15rem;
  font-size: 2rem;
}
.congratulations {
  position: absolute;
  left: 28rem;
  top: 10rem;
  z-index: 5;
}
.popUpWin {
  height: 20rem;
  width: 30rem;
  background-color: #aee6fc;
  background-image: url("/images/earth.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
  border-radius: 13px 13px;
}
.starSign {
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.popUpWin h1 {
  padding-top: 7rem;
  font-family: "Barrio", cursive;
  font-size: 3rem;
  color: #ff00b7;
  font-weight: bold;
}
.greetingMessage h1 {
  font-family: "Barrio", cursive;
  font-size: 80px;
  color: #ffd400;
  background-color: rgba(150, 54, 148, 0.8);
  padding: 1rem;
  font-weight: bold;
}
.badMessage h1 {
  font-family: "Barrio", cursive;
  font-size: 3rem;
  color: #ffd400;
  width: 18rem;
  background-color: rgba(150, 54, 148, 0.8);
  padding: 1rem;
  font-weight: bold;
}
.buttonWin {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 8rem;
  border-radius: 13px 13px;
  border: 2px solid #ff00b7;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  color: #ff00b7;
}
.buttonWin:hover {
  background-color: #ff00b7;
  color: white;
}
.currentLetter {
  background-color: #ffd400;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 51%;
  margin: 10vh;
  padding: 2em;
  border: 7px inset #ff00b7;
}
.currentLetter h1 {
  font-family: "Barrio", cursive;
  font-size: 80px;
  color: #ff00b7;
  font-weight: bold;
}
.bounce {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.gameIntro {
  background-image: url("/images/backGame.jpg");
  height: 45.5rem;
  background-size: cover;
  background-position: top;
}
.gameIntro h1 {
  font-family: "Barrio", cursive;
  font-size: 6rem;
  color: #ffd400;
  font-weight: bold;
  margin: 0rem;
  padding-top: 3rem;
}
.gameIntro p {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.displayLetters img {
  width: 8rem;
  height: 8rem;
  margin: 2rem;
}
@media screen and (min-width: 1024px) {
  .gameIntro {
    height: 36.5rem;
  }
  .congratulations {
    left: 26rem;
    top: 6rem;
  }

  .wrongImg {
    width: 15vh;
    height: 15vh;
  }
  .containerCard {
    width: 15vh;
    height: 15vh;
  }
  .dashBoard {
    width: 53%;
    margin-top: 2rem;
  }
}
